@page
@using ontheweb.Models
@model ClassesModel
@{
}


<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th>Class</th>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Students</th>
    </tr>
    </thead>
    @foreach (Classroom group in @Model.Classrooms)
    {
        <tr><td>@group.Name</td>
            <td>@group.Subject</td>
            <td>@group.Teacher.Name</td>
            <td>@foreach (Student student in @group.Students)
                    {
                        if (@student.ClassId %2 == 0 )
                        {
                            @student.Name  <br/>
                        }
                        if (@student.ClassId %2 != 0)
                        {
                            @student.Name <br/>
                        }
                    }  
                
            </td>
        </tr>
    }
</table>