@page
@using ontheweb.Models
@model HellowWebModel
@{
}

<p>@Model.Message the time is @DateTime.Now</p>

<br/>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>StudentID</th>
        <th>ClassID</th>
    </tr>
    </thead>
    
    @foreach (Student student in @Model.CreateStudents())
    {<tr><td>@student.Name</td><td>@student.Id</td><td>@student.ClassId</td></tr>}
    
</table>
